<!--Breadcrumb Directive-->
<div class="grid-container">
<span breadcrumb></span>

<div class="grid-block">
    <div class="medium-3 grid-block">
        <div align="center">
            <p><a href="#" class="button">Shop Store</a></p>
            <p></p>
            <h6><strong>Members</strong></h6>
            <p>Current Retail Members Sign into your account</p>
            <p><a href="#/login" class="button">Sign In</a></p>
            <h6><strong>Not a Members?</strong></h6>
            <p>Learn About Becoming a Retail Member</p>
            <p><a href="#/login" class="button">Learn More</a></p>
        
        
        
        </div>
    </div>
    
    <div class="medium-6 grid-block">
        <div align="center">
            <div class="grid-block">
                <div class="grid-block">
                    
                      <select>
                        <option value="All">Search by Brand</option>
                        <option value="Mediterranean">Mediterranean</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Fast">Fast Food</option>
                        <option value="Vegetarian">Vegetarian</option>
                      </select>
                </div>
                <div class="grid-block">
                
                      <select>
                        <option value="All">Search By Category</option>
                        <option value="Mediterranean">Mediterranean</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Fast">Fast Food</option>
                        <option value="Vegetarian">Vegetarian</option>
                      </select>
                    
                </div>
                
                <div class="grid-block">

                      <select>
                        <option value="All">Search By Ingredients</option>
                        <option value="Mediterranean">Mediterranean</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Fast">Fast Food</option>
                        <option value="Vegetarian">Vegetarian</option>
                      </select>
                    
                </div>
                
            </div>
            <div class="grid-block">
                <div class="grid-block grid-container">
                    <div class="grid-content">
                        <!--Carousel Placemarker-->
                        <slick initOnload=true dots=true width="600"> 
                          <div>
                            <img src="lib/img/mainCarousel/Adept.jpg" alt="">
                          </div>
                          <div>
                            <img src="lib/img/mainCarousel/BPI_March2015.jpg" alt="">
                          </div>
                        </slick>
                        <!--End Carousel Placemarker-->
                    </div>
                </div>
                
            </div>
                            
            

        </div>
    </div>
    
    <div class="medium-6 grid-block">
             <!--Big E Picks-->
                 <div class="image"><img src="lib/img/mainCarousel/bige.png"/></div>
             <!--End Big E Picks-->
    </div>
</div>
<div class="grid-block">
    <div class="grid-block">
        <!--Featured Products Mockup-->
             <div class="image"><img src="lib/img/fp_mock.png"/></div>
         <!--End Featured Products Mockup-->
    </div>
</div>
<div class="grid-block">
    <div class="grid-block">
        <!--Featured Products Mockup-->
            <br><br><br><br><br><br><br><br><br><br><br><br>
             <div class="image"><div align="center"><img src="lib/img/mid_ad_mock.png"/></div></div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
         <!--End Featured Products Mockup-->
    </div>
</div>
<div class="grid-block">
<div class="grid-block">Block 6</div>
</div>
<div class="grid-block">
<div class="grid-block">Block 7</div>
</div>
<div class="grid-block">
<div class="grid-block">Block 8</div>
</div>

</div>