<!--Breadcrumb Directive-->
<span breadcrumb></span>
<h1>Home</h1>
<p>Welcome to the BaylySoft Template</p>
<p>Hello {{ globals.currentUser.username }}</p>
<p>Your Auth Key Is {{ globals.currentUser.authkey }}</p>
<p><a href="#/login">Logout</a></a></p>
<p>
<div class="container">
    <div class="row">
        <div class="col-sm-4"><img class="img-responsive" src="lib/img/demo1.jpg" width="500" height="300" shows-message-when-hovered message="I am Batman"></div>
        <div class="col-sm-4"><img class="img-responsive" src="lib/img/demo2.jpg" width="500" height="300" shows-message-when-hovered message="Batman Forever"></div>
        <div class="col-sm-4"><img class="img-responsive" src="lib/img/demo3.jpg" width="500" height="300" shows-message-when-hovered message="Val Kilmer Should never play batman"></div>
    </div>
</div>
<div class="alert alert-info"><strong>Info!!</strong> {{ message }}</div>
</p>